/* spectral-300 - latin */
@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 300;
    src: local('Spectral Light'), local('Spectral-Light'),
         url('./spectral-v6-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-300italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 300;
    src: local('Spectral Light Italic'), local('Spectral-LightItalic'),
         url('./spectral-v6-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-regular - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    src: local('Spectral Regular'), local('Spectral-Regular'),
         url('./spectral-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 400;
    src: local('Spectral Italic'), local('Spectral-Italic'),
         url('./spectral-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-500 - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 500;
    src: local('Spectral Medium'), local('Spectral-Medium'),
         url('./spectral-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-500italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 500;
    src: local('Spectral Medium Italic'), local('Spectral-MediumItalic'),
         url('./spectral-v6-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-600italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 600;
    src: local('Spectral SemiBold Italic'), local('Spectral-SemiBoldItalic'),
         url('./spectral-v6-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-600 - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 600;
    src: local('Spectral SemiBold'), local('Spectral-SemiBold'),
         url('./spectral-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-700 - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 700;
    src: local('Spectral Bold'), local('Spectral-Bold'),
         url('./spectral-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-700italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 700;
    src: local('Spectral Bold Italic'), local('Spectral-BoldItalic'),
         url('./spectral-v6-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-800 - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 800;
    src: local('Spectral ExtraBold'), local('Spectral-ExtraBold'),
         url('./spectral-v6-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spectral-800italic - latin */
  @font-face {
    font-family: 'Spectral';
    font-style: italic;
    font-weight: 800;
    src: local('Spectral ExtraBold Italic'), local('Spectral-ExtraBoldItalic'),
         url('./spectral-v6-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./spectral-v6-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }